{% extends "base-user.html" %}

{% block page_heading %} Register for the Flask web-application {% endblock page_heading %}

{% block content %}

  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <div class="form-label-group form-group">
      {% if form.username.errors %}
        {{ form.username(class="form-control is-invalid", placeholder="Username") }}
        <div class="invalid-feedback">
          {% for error in form.username.errors %}
              <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.username(class="form-control", placeholder="Username") }}
      {% endif %}

      {{ form.username.label }}
    </div>

    <div class="form-label-group form-group">
      {% if form.email.errors %}
        {{ form.email(class="form-control is-invalid", placeholder="Email address") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
              <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.email(class="form-control", placeholder="Email address") }}
      {% endif %}

      {{ form.email.label }}
    </div>

    <div class="form-label-group form-group">
      {% if form.password.errors %}
        {{ form.password(class="form-control is-invalid", placeholder="Password") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
              <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.password(class="form-control", placeholder="Password") }}
      {% endif %}

      {{ form.password.label }}
    </div>

    <div class="form-label-group form-group">
      {% if form.confirm_password.errors %}
        {{ form.confirm_password(class="form-control is-invalid", placeholder="Confirm password") }}
        <div class="invalid-feedback">
          {% for error in form.econfirm_password.errors %}
              <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.confirm_password(class="form-control", placeholder="Confirm password") }}
      {% endif %}

      {{ form.confirm_password.label }}
    </div>

    <div class="text-center form-group">
      {{ form.submit(class="btn btn-lg btn-info btn-block btn-user text-uppercase font-weight-bold mb-2") }}
    </div>

    <div class="text-center mt-3 text-muted small">
      Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
    </div>

  </form>

{% endblock content %}
